<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/login.css">


    <title>Register</title>
    <script>
        function slide() {
            const button = document.getElementById('step1');
            const button2 = document.getElementById('step2');
            const stepCount = document.getElementById('step-count');

            stepCount.innerHTML = "Step 2/3"
            button.style.transform = 'translate(-100%, 0%)'
            button2.style.transform = 'translate(0%, -100%)'

        }
    </script>
    <style>
        @import url(https://fonts.googleapis.com/css?family=Roboto:500);

        .google-btn {
            width: 184px;
            height: 42px;
            background-color: #4285f4;
            border-radius: 2px;
            box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
        }

        .google-btn .google-icon-wrapper {
            position: absolute;
            margin-top: 1px;
            margin-left: 1px;
            width: 40px;
            height: 40px;
            border-radius: 2px;
            background-color: #fff;
        }

        .google-btn .google-icon {
            position: absolute;
            margin-top: 11px;
            margin-left: 11px;
            width: 18px;
            height: 18px;
        }

        .google-btn .btn-text {
            float: right;
            margin: 11px 11px 0 0;
            color: #fff;
            font-size: 14px;
            letter-spacing: 0.2px;
            font-family: "Roboto";
        }

        .google-btn:hover {
            box-shadow: 0 0 6px #4285f4;
        }

        .google-btn:active {
            background: #1669F2;
        }
    </style>
</head>

<body>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 image-section">
                    <img src="/img/register.svg" alt="Image" class="img-fluid">
                </div>
                <div class="col-lg-6 contents">
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <div class="mb-4">
                                <h3 style="margin-top: 60px;">Register</h3>
                                <span class="ml-auto"><a href="/register" class="create-account">or Already have an
                                        account?</a></span>
                                <p class="mb-4">Join us to share your thoughts within the college.
                                </p>
                                <p id="step-count"
                                    style="margin: -10px 0px; font-size: 12px; font-weight: 700; color: rgb(48, 48, 48); letter-spacing: 2px;">
                                    Step 1/3 </p>
                                <p id="step-count"
                                    style="margin: 20px 0px -10px 0px; font-size: 14px; color: red; letter-spacing: 2px;">
                                    <%-error%></p>
                            </div>
                            <form action="/register" method="post">
                                <div id="steps">

                                    <div id="step1">

                                        <p
                                            style="margin-bottom: 5px; font-size: 12px; font-weight: 100; letter-spacing: 2px;">
                                            What's your email?</p>
                                        <div class="form-group first">

                                            <input type="text" placeholder="Enter your email" name="username"
                                                class="form-control" id="username">

                                        </div>
                                        <p
                                            style="margin-bottom: 5px; font-size: 12px; font-weight: 100;letter-spacing: 2px;">
                                            What should we call you?</p>

                                        <div class="form-group last mb-4">
                                            <input type="text" placeholder="Enter your name" name="displayname"
                                                class="form-control" id="username">
                                        </div>


                                        <input id="next" onclick="slide()" type="button" value="Next" name="button"
                                            class="btn btn-block">
                                    </div>

                                    <div id="step2">
                                        <p
                                            style="margin-bottom: 5px; font-size: 12px; font-weight: 100; letter-spacing: 2px;">
                                            Create a password</p>
                                        <div class="form-group first">

                                            <input type="password" placeholder="Create a password" name="password"
                                                class="form-control" id="password">

                                        </div>
                                        <p
                                            style="margin-bottom: 5px; font-size: 12px; font-weight: 100;letter-spacing: 2px;">
                                            What should we call you?</p>

                                        <div class="form-group last mb-4">
                                            <input type="password" placeholder="Confirm your password"
                                                name="confirmpassword" class="form-control" id="password">
                                        </div>

                                        <input type="submit" value="Get verification code" name="button"
                                            class="btn btn-block">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"></script>
</body>

</html>